Packages
Temp
Library/metadata
Library/ShaderCache
Library/ShaderCache.db
Assets/Resources/Cardboard
Assets/Resources/OVR
Assets/Resources/Cardboard.meta
Assets/Resources/OVR.meta
Assets/BER/*.assets
Assets/BER/*.assets.meta
Assets/BER/Light*
Assets/BER/Reflection*
Assets/BER/Skybox*
Library/CrashedAssetImports.txt
*~
*.log
WebGL
Android
WebPlayer
lightmap_tmp/*
